---
layout: page
title: Preschool
lang: en
ref: preschool
description: ENAD Co-Action Preschool
pageHero: /assets/images/preschool-6Jul2013-IMG_5359.png
---

<div class="row">
  <h2>ENAD Co-Action Preschool</h2>
</div>
<aside class="post-aside">
</aside>
<div class="post-content">
  <div>
    {% assign jCount = 0 %}
    {% assign ps = site.data.enadImages.images[page.lang].preschool %}
    {% include enadCarousel.html %}
  </div>
	<div>
    <div class="thumbnail pull-right tiny">
      <img src="{{ "/assets/images/preschool-students-22July2002.jpg" | prepend: site.baseurl }}" 
      alt="ENAD preschool children during end of school year on 22 July 2002" class="img-responsive center-block" />
      <div class="caption text-center">
        <p>
        	ENAD preschool children <br/>during end of school year on 22 July 2002<br/><br/> (Photo Credit: T. H. Derso)
        </p>
      </div>
    </div>	
    <!--p class="pt-4">&nbsp;</p -->
		<!--p class="pt-20" -->
    <p>
			The ENAD Co-Action Preschool was established following the observance of the International 
      Year of the Child. At the time, a charity run by Mother Theresa called <em>Children's of Charity</em> 
      was located near to where the ENAD office is located. The sisters brought to the ENAD two deaf children, 
      a boy and a girl, who were under their care and asked for the ENAD to teach them. Although the ENAD 
      did not have any suitable place for teaching children, it was impossible to refuse their request to 
      teach children. So, it was agreed to tutor them for half a day during each working day. That was in 1981.
    </p>
  </div>
  <h2>More Children come</h2>
  <div>
		<div class="thumbnail pull-left tiny">
			<a href="{{ "/assets/images/enadPreschoolUNESCO.jpg" | prepend: site.baseurl }}">
      <!-- a href="{{ site.baseurl }}/enlargedphoto/" -->
       	<img src="{{ "/assets/images/enadPreschoolUNESCO-small.png" | prepend: site.baseurl }}" 
        alt="First batch of ENAD preschoolers in 1981" 
        class="img-responsive center-block" id="firstBatch">
			  <!-- onclick="storeImageLocation('firstBatch')" / -->
      </a>
      <div class="caption text-center">
        <p>
        	The first batch of<br/> ENAD preschool children in 1981<br/> (Photo: From ENAD's collection. <br/>The photo was actually taken by a UNESCO <br/>photographer who visited the ENAD. <br/> Click on photo for a bigger image)
        </p>
      </div>
    </div>
    <p>
      When other parents and friends saw the children, they started bringing us more children. Thus, the ENAD Preschool was born. By then, the International Year of the Child was observed and the International Decade of the Child was on-going. So, the ENAD presented a project proposal for a preschool for deaf children to the UNESCO Co-Action Programme for consideration. The proposal was accepted and it was included among the projects selected to be sponsored by the UNESCO Co-Action Programme.
    </p>
    <p>
    	Shortly after the publication and distribution of the co-action brochure listing the different UNECO sponsored projects, the ENAD started receiving UNUM cheques.
    </p>  
    <p>
    	UNUM cheques were usually meant to be used to make small purchases. But, what the ENAD wanted was a permanent quarter for the preschool and had decided to use the money to build a school. At the time, the government had promised to give a plot of land to the ENAD. Unfortunately, it was during the Derg's government and the unstable nature of the time did not see the decision that was passed at the Council of Ministers level to be implemented at the lower level. The decision was lost in the bureaucratic net of the time. Finally, after the change of government, it was decided to use the funds to buy a house for the preschool's use. 
    </p>  
  </div>
  <h2>Source of funds</h2>
  <div>
  	<div class="thumbnail pull-right tiny">
        <img src="{{ "/assets/images/preschool-20Jul2002-DSC00337.jpg" | prepend: sburlr }}" 
        alt="End of school year at ENAD Preschool on 2o July 2002" 
        class="img-responsive center-block" />
        <div class="caption text-center">
        	<p>
        		ENAD preschool graduation day<br/> on 20 July 2002 <br/><br/>(Photo credit: T. H. Derso)
        	</p>
        </div>
    </div>
  	<p>
  		The greater part of the funds came from the Netherlands UNESCO Center. The remaining amount was raised by the Federation of UNESCO Associations in Japan. Through the Federation, many individuals in Japan contributed money to our project by buying UNUM cheques and mailing them to the ENAD. There were also two school children and two other persons from the USA and one person from England who sent UNUM cheques to the ENAD.
    </p>
    <p>
    	A careful and close study of the photograph by the UNESCO photographer, shown above, (click on the photo to enlarge) will show that the children are seated on wooden fruit boxes and that the table is assembled from rough wooden planks knocked down from shipping containers. Shortly after, this problem was solved through a small but very valuable grant from UNICEF that enabled the ENAD to buy children's chairs and tables. Playing and some didactic materials were provided by the Federation of the deaf and Hard of Hearing of the German Democratic Republic (former East Germany).
    </p>
  </div>
  <h2>A House is bought</h2>
  <div>
  	<div class="thumbnail pull-left tiny">
        <img src="{{ "/assets/images/preschool-18June2011-IMG_0209.jpg" | prepend: site.baseurl }}" 
        alt="Preschool children on 18 June 2011" 
        class="img-responsive center-block" />
        <div class="caption text-center">
        	<p>
        		18 June 2011<br/><br/> (Photo: T. H. Derso)
        	</p>
        </div>
    </div>
  	<p>
  		The fund so generously donated to the ENAD has enabled the Association to buy a house for the exclusive use of the preschool and the preschool moved to its own quarters in 1997. Until then, the preschool was housed in one room in our very crowded office and then, it was moved to the current assembly hall of the ENAD, which was then a shanty, that could not keep out the sun, wind and the rain.
    </p>
    <p>
    	However, even the current quarter of the preschool has many short comings as a school. The house was originally constructed for use as a residence and it was badly designed. Because of this, the rooms are not adequate as class rooms. The only good is that it is located at a prime location, near the center of the city.
    </p>
  </div>
  <h2>Donors' efforts have not been in vain</h2>
  <div>
  	<div class="thumbnail pull-right tiny">
      <img src="{{ "/assets/images/preschool-1st-Batch-31Dec2011-IMG_1250.jpg" | prepend: site.baseurl }}" 
       alt="Adult deaf from ENAD Preschool first batch on 31 December 2011" 
       class="img-responsive center-block" />
      <div class="caption text-center">
        <p>
        	Adult deaf from the first batch of<br/> ENAD preschool children on 31 December 2011<br/><br/> (Photo: T. H. Derso)
        </p>
      </div>
    </div>
  </div>
  <div>
  	<p>
  		It is a great pleasure to see that all the efforts of the donors have not been in vain and that they have born fruit. Many children have passed through the preschool and some of them have now started families of their own and have become responsible citizens able to shoulder family and other responsibilities.
    </p>
  </div>
  <h2>Name of the Preschool</h2>
  <div>
  	<p>
  		To commemorate the commendable actions of the UNESCO Co-Action Programme and also because the ENAD Preschool is still a beneficiary of the actions of other humanitarians, the ENAD has named the preschool as <strong>ENAD Co-Action Preschool</strong>.
    </p>
    <div class="thumbnail tiny">
      <video src="{{ "/assets/images/preschool-Dance.mp4" | prepend: site.baseurl }}" controls="controls" 
        poster="{{ "/assets/images/preschool-Dance.png" | prepend: site.baseurl }}" 
        class="img-responsive center-block">
      </video>
      <div class="caption text-center">
        <p>
          Graduation ceremony on 18 June 2011 (Photo: T. H. Derso)
        </p>
      </div>
    </div>
  </div>
  <!--
  <div class="thumbnail tiny">
    <img src="{{ "/images/preschool-Dance.png" | prepend: sburlr }}" alt="Graduation ceremony on 18 June 2011"
    class="img-responsive center-block") %>
    <div class="caption">
      <p>
        Graduation ceremony on 18 June 2011 (Photo: T. H. Derso)
      </p>
    </div>
  </div>
  -->
  <h2>Individuals and organizations who donated to the ENAD Preschool Project</h2>
  <div>
    <p>
      The following lists some of the individuals and organizations who contributed to the ENAD Preschool Project for deaf children. The ENAD Co-Action Preschool is housed in a building that was bought with their donations.
    </p>
    {% include co_action_donors.html %}
  </div>
</div>

