---
layout: page
title_am: የሕፃናት ትምህርት ቤት
lang: am
ref: preschool
description_am: የኢመየብማ ኮአክሽን መዋዕለ ሕፃናት ትምህርት ቤት
pageHero: /assets/images/preschool-6Jul2013-IMG_5359.png
---

<div class="row">
	<h2>የኢመየብማ ኮአክሽን መዋዕለ ሕፃናት</h2>
</div>
<aside class="post-aside">
</aside>
<div class="post-content">
  <div>
    {% assign jCount = 0 %}
    {% assign ps = site.data.enadImages.images[page.lang].preschool %}
    {% include enadCarousel.html %}
  </div>
	<div>
    <div class="thumbnail pull-right tiny">
      <img src="{{ "/assets/images/preschool-students-22July2002.jpg" | prepend: site.baseurl }}" 
      alt="የኢመየብማ መዋዕለ ሕፃናት ተማሪዎች ሐምሌ 15 ቀን 1994 ዓ.ም. የትምህርት ዓመት መጨረሻ ወቅት" class="img-responsive center-block" />
      <div class="caption text-center">
        <p>
        	የኢመየብማ መዋዕለ ሕፃናት ተማሪዎች ሐምሌ 15 ቀን 1994 ዓ.ም.<br/>
           የትምህርት ዓመት መጨረሻ ወቅት<br/> 
           (ፎቶ: ተክለሃይማኖት ደርሶ)
        </p>
      </div>
    </div>	
    <!-- p class="pt-2">&nbsp;</p -->	
		<!-- p class="pt-20" --> 
    <p>
      የኢመየብማ ኮአከአሽን መዋዕለ ሕፃናት ዓለም አቀፍ የሕፃናት ዓመት ለመጀመሪያ ጊዜ ከተከበረ በኋላ የተቋቋመ ነው። 
      በወቅቱ በማዘር ቴሬዛ የሚካሄድ <em>የበጎ አድራጎት እህቶች</em> የሚባል ማኅበሩ ካለበት አካባቢ አቅራቢያ ይገኝ ነበር። 
      ከነዚያ እህቶች መካከል ሁለቱ በድርጅታቸው እንክብካቤ ሥር የነበሩ ሁለት መስማት የተሳናቸው ሕፃናት (አንድ ወንድ እና 
      አንዲት ሴት) ይዘው በመምጣት ማኅበሩ እንዲያስተምርላቸው ጠየቁ። ማኅበሩም ጥያቄያቸውን ላለመቀበል እና አላስተምርም 
      ለማለት የማይቻለው ሆኖ አገኘው። በመሆኑም ሕፃናቱን በሳምንቱ የሥራ ቀናት ውስጥ በየቀኑ ለግማሽ ቀን ለማስተማር ተስማማ። 
      ይህ የሆነው በ1974 ዓ.ም. ነበር።
    </p>
  </div>
  <h2>የተጨማሪ ሕፃናት መምጣት</h2>
  <div>
		<div class="thumbnail pull-left tiny">
			<a href="{{ "/assets/images/enadPreschoolUNESCO.jpg" | prepend: site.baseurl }}">
      <!-- a href="{{ site.baseurl }}/ፎቶበትልቁ" -->
       	<img src="{{ "/assets/images/enadPreschoolUNESCO-small.png" | prepend: site.baseurl }}" 
        alt="የኢመየብማ መዋዕለ ሕፃናት የመጀመሪያዎቹ ተማሪዎች በ1974 ዓ.ም." 
        class="img-responsive center-block" id="firstBatch">
			  <!-- onclick="storeImageLocation('firstBatch')" / -->
      </a>
      <div class="caption text-center">
        <p>
        	የኢመየብማ መዋዕለ ሕፃናት የመጀመሪያዎቹ ተማሪዎች በ1974 ዓ.ም.<br/> 
          (ፎቶ: ከማኅበሩ ስብስብ፤<br/>
          ይህ ፎቶ ከዩኔስኮ በመጡ ባለሙያዎች የተነሳ ነው።<br/>
          ፎቶውን በትልቁ ለማየት ይጫኑት)
        </p>
      </div>
    </div>
    <p>
      ሌሎች ወላጆችና የማኅበሩ ወዳጆች ማኅበሩ ሕፃናት ማስተማር መጀመሩን እንዳዩ ሌሎች ሕፃናትም ማምጣት ጀመሩ። 
      በዚህ መንገድ የማኅበሩ መዋዕለ ሕፃናት ሊጀመር ቻለ። ይህ በሆነበት ወቅት ዓለም አቀፍ የሕፃናት አሰርተ ዓመታት በተባበሩት 
      መንግሥታት ታውጆ እየታሰበ ነበር። ማኅበሩም ይህንን አስታኮ ለመስማት የተሳናቸው የሚሆን የሕፃናት መዋያ ለማቋቋም 
      የሚያስችል የፕሮጄክት ሃሳብ አዘጋጅቶ ለዩኔስኮ የጋራ ተግባር ፕሮግራም ላከ። የማኅበሩ የፕሮጄክት ሃሳብ ተቀባይነት 
      በማግኘቱም በዩኔስኮ የተመረጡ ፕሮጄክቶች በዩኔስኮ ወዳጆች ማኅበራትና ክለቦች ታውቀው እንዲደገፉ ለማድረግ 
      በሚታተሙበት መጽሔት (ብሮሸር) ውስጥ ለመታተም በቃ።
    </p>
    <p>
      የተመረጡት ፐሮጄክቶች ብሮሸሩ ውስጥ ታትመው ከተሰራጩ ከጥቂት ጊዜ በኋላም ማኅበሩ እርዳታዎች ይደርሱት ጀመር። 
      እርዳታው ይመጣ የነበረው "ዩኑም ቼክ" ተብሎ ይታወቅ በነበረው ነበር።
    </p>  
    <p>
      ዩኑም ቼክ ዋና ዓላማው ጥቃቅን ግዢዎች ለማካሄድ እንዲቻል ተብሎ የተዘጋጀ ነበር። ኢመየብማ የፈለገው ግን ለሕፃናት 
      መዋያው በቋሚነት የሚያገለግል ቤት ለማሠራት ነበር። በዚያን ወቅት ለማኅበሩ የሚሆን ቦታ ለማግኘት ከመንግሥት ተስፋ 
      ተሰጥቶት ነበር። ነገር ግን በደርግ ጊዜ በነበረው ያልተረጋጋ ሁኔታ በሚኒስትሮች ምክር ቤት ለማኅበሩ ቦታ እንዲሰጥ ተወስኖ 
      የነበረውን ውሳኔ እንዲፈጸም ለማድረግ አስቸጋሪ ሁኔታ ተፈጥሮ ነበር። በመጨረሻ ከመንግሥት ለውጥ በኋላ በዩኔስኮ በኩል 
      የተሰበሰበው ገንዘብ ለማኅበሩ የሕፃናት መዋያው አገልግሎት የሚሆን ቤት እንዲገዛበት ተወስኖ ቤት ለመግዛት ተቻለ። 
    </p>  
  </div>
  <h2>የገንዘብ እርዳታ ምንጭ</h2>
  <div>
  	<div class="thumbnail pull-right tiny">
        <img src="{{ "/assets/images/preschool-20Jul2002-DSC00337.jpg" | prepend: site.baseurl }}" 
        alt="የኢመየብማ ሕፃናት መዋያ የትምህርት ዓመት መጨረሻ ሐምሌ 13 ቀን 1994 ዓ.ም." 
        class="img-responsive center-block" />
        <div class="caption text-center">
        	<p>
        		የኢመየብማ ሕፃናት መዋያ የትምህርት ዓመት መጨረሻ<br/>
            ሐምሌ 13 ቀን 1994 ዓ.ም.<br/>
            (ፎቶ: ተክለሃይማኖት ደርሶ)
        	</p>
        </div>
    </div>
  	<p>
      በዩኔስኮ በኩል ከዩኔስኮ ወዳጆች ለማኅበሩ ከተሰበሰበው ውስጥ አባዛኛው የተገኘው ከኔዘርላንድስ የዩኔስኮ ማዕከል ነበር። 
      ቀሪው ደግሞ የተገኘው ከጃፓን የዩኔስኮ ማኅበራት ፌደሬሽን ነበር። በፌደሬሽኑ አስተባባሪነት ብዙ ጃፓናውያን ዩኑም ቼክ 
      እየገዙ ለማኅበሩ በፖስታ ቤት በኩል ልከዋል። ከጃፓናውያኑ ሌላ ከአሜሪካ ሁለት ተማሪዎች፣ ከእንግሊዝ ደግሞ አንድ ግለሰብ 
      ዩኑም ቼክ ገዝተው ለማኅበሩ ልከዋል።
    </p>
    <p>
      ከላይ የሚታየው በዩኔስኮ ፎቶግራፈር የተነሳውን ፎቶ ቀረብ ብሎ በጥልቀት ለተመለከተው ሰው (ፎቶውን በትልቁ ለማየት ይጫኑት) 
      ሕፃናቱ የተቀመጡት በፍራፍሬ ሳጥን ላይ መሆናቸውን፣ ጠረጴዛው ደግሞ ዕቃዎችን በመርከብ ለመላክ ከሚያገለግሉ ቁርጭራጭ 
      እንጨቶች የተገጣጠመ መሆኑን ያስተውላል። ከጥቂት ጊዜ በኋላ ግን ይህ ችግር ከተባበሩት መንግሥታት የሕፃናት ድርጅት (ዩኒሴፍ) 
      በተገኘ አነስተኛ ግን በጣም ጠቃሚ የነበረ እርዳታ ጠረጴዛዎችና የሕፃናት ወንበሮች በማሠራት መፍትሔ ሊገኝለት ተቸሏል። 
      የመጫወቻና ሌሎች የመማርያ ዕቃዎች ደግሞ ከቀድሞው ምሥራቅ ጀርመን መስማት የተሳናቸው እና በከፊል መስማት 
      የተሳነናቸው ፌደሬሽን በእርዳታ ተገኝተዋል።
    </p>
  </div>
  <h2>ቤት ተገዛ</h2>
  <div>
  	<div class="thumbnail pull-left tiny">
        <img src="{{ "/assets/images/preschool-18June2011-IMG_0209.jpg" | prepend: site.baseurl }}" 
        alt="የመዋያው ሕፃናት ሰኔ 11 ቀን 2003 ዓ.ም." 
        class="img-responsive center-block" />
        <div class="caption text-center">
        	<p>
        		የመዋያው ሕፃናት ሰኔ 11 ቀን 2003 ዓ.ም.<br/>
            (ፎቶ: ተክለሃይማኖት ደርሶ)
        	</p>
        </div>
    </div>
  	<p>
      በእርዳታ የተገኘው ገንዘብ ማኅበሩ ለሕፃናት መዋያው ብቻ እንዲያገለግል የታለመ ቤት ለመግዛት ያስቻለው ሲሆን መዋያውም 
      ወደ ቤቱ በ1990 ዓ.ም. ለመግባት ችሏል። እስከዚያው ድረስ የሕፃናት መዋያ አገልግሎቱ ከማኅበሩ ጽሕፈት ቤት በአንድ 
      ጠባብ ክፍክ ውስጥ ሲሰጥ ቆይቶ በዛኒጋባ መልክ ተገንብቶ ወደ ነበረው እና ዝናብ፣ የፀሐይ ሙቀት እና ንፋስ መከለል 
      ወደማይችለው አዳራሽ ተዛውሮ ቆይቶ ነበር።
    </p>
    <p>
      ቢሆንም አሁን የሕፃናት መዋያው ያለበት ቤትም ቢሆን ብዙ ጉድለቶች አሉበት። ቤቱ በመጀመሪያ ሲገነባ ለመኖርያነት 
      የተገነባ ሲሆን ዲዛይኑም ለመኖርያ ቤትነትም ቢሆን መጥፎ ነው። በመሆኑም ክፍሎቹ ለማስተማሪያነት ብቁ አይደሉም። 
      የቤቱ አንዱ ጥሩው ነጥብ የሚገኝበት አካባቢ ከከተማው መሃል አቅራቢያ እና ተመራጭ በሆነ ቦታ መገኘቱ ነው።
    </p>
  </div>
  <h2>የበጎ አድራጊዎች ጥረት መና ሆኖ አልቀረም</h2>
  <div>
  	<div class="thumbnail pull-right tiny">
      <img src="{{ "/assets/images/preschool-1st-Batch-31Dec2011-IMG_1250.jpg" | prepend: site.baseurl }}" 
       alt="ከመጀመሪያዎች የኢመየብማ መዋዕለ ሕፃናት ተማሪዎች ጥቂቶቹ ታኅሣሥ 21 ቀን 2004 ዓ.ም." 
       class="img-responsive center-block" />
      <div class="caption text-center">
        <p>
        	ከመጀመሪያዎች የኢመየብማ መዋዕለ ሕፃናት ተማሪዎች ጥቂቶቹ<br/>
          ታኅሣሥ 21 ቀን 2004 ዓ.ም.<br/>
          (ፎቶ: ተክለሃይማኖት ደርሶ)
        </p>
      </div>
    </div>
  </div>
  <div>
  	<p>
      የእርዳታ ሰጪዎች ጥረት መና አለመቅረቱና ውጤት መስጠቱ ማየጥ እጅግ ደስ ያሰኛል። ብዙ መስማት የተሳናቸው ሕፃናት 
      በሕፃናት መዋያው የመጠቀም ዕድል አግኝተዋል። እንዳንዶቹ በአሁኑ ጊዜ የራሳቸው ቤተሰብ አፍርተዋል፤ የአባትነት፣ የእናትነት 
      እና ሌላም ኃላፊነት መሸከም የሚችሉ ብቁ ዜጎች ሆነዋል።
    </p>
  </div>
  <h2>የመዋዕለ ሕፃናቱ ስም</h2>
  <div>
  	<p>
      የዩኔስኮ የጋራ ተግባር ፕሮግራም ላደረገው አስተዋጽኦ መታሰቢያ ይሆን ዘንድ የኢመየብማ ሕፃናት <strong>ኢመየብማ ኮአክሽን 
        መዋዕለ ሕፃናት</strong> ተብሎ እንዲታወቅ ማኅበሩ ወስኗል።
    </p>
    <div class="thumbnail tiny">
      <video src="{{ "/assets/images/preschool-Dance.mp4" | prepend: site.baseurl }}" controls="controls" 
        poster="{{ "/assets/images/preschool-Dance.png" | prepend: site.baseurl }}" 
        class="img-responsive center-block">
      </video>
      <div class="caption text-center">
        <p>
          የምረቃ ሥነ-ሥርዓት ሰቤ 11 ቀን 2003 ዓ.ም.<br/>
           (ፎቶ: ተክለሃይማኖት ደርሶ)
        </p>
      </div>
    </div>
  </div>
  <!--
  <div class="thumbnail tiny">
    <img src="{{ "/images/preschool-Dance.png" | prepend: sburlr }}" alt="Graduation ceremony on 18 June 2011"
    class="img-responsive center-block") %>
    <div class="caption">
      <p>
        Graduation ceremony on 18 June 2011 (Photo: T. H. Derso)
      </p>
    </div>
  </div>
  -->
  <h2>የኢመየብማ መዋዕለ ሕፃናት ፕሮጄክትን የረዱ ግለሰቦችና ድርጅቶች</h2>
  <div>
    <p>
      ከዚህ ቀጥሎ በሚታየው ዝርዝር ውስጥ የተጠቀሱት ግለሰቦችና ድርጅቶች ለኢመየብማ መዋዕለ ሕፃናት ፕሮጄክት እርዳታ 
      ያደረጉ ናቸው። ማኅበሩ መውዕለ ሕፃናቱ የሚገኝበትን ቤት ለመግዛት የቻለው እነሱ ባደረጉት እርዳታ በተገኘ ገንዘብ ነው። 
    </p>
    {% include co_action_donors.html %}
  </div>
</div>

