
<!-- Language selector -->
<ul class="nav navbar-nav navbar-right">
<!-- div class="navbar-nav ml-auto" -->
      {% assign posts = site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
          <li>
          {% if post.lang == "en" %}
            <a href="{{ post.url }}" class="active {{ post.lang }}">English</a>
          {% else %}
            <a href="{{ post.url }}" class="active {{ post.lang }}">አማርኛ</a>
          {% endif %}
          <!-- a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a -->
          </li>
        {% endfor %}

        {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
          <li>
            {% if page.lang == "en" %}
               <a href="{{ page.url }}" class="active {{ page.lang }}">English</a>
            {% else %}
               <a href="{{ page.url }}" class="active {{ page.lang }}">አማርኛ</a>
            {% endif %}
             <!-- a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a -->
          </li>
        {% endfor %}

        {% assign authors = site.authors | where:"ref", page.ref | sort: 'lang' %}
        {% for author in authors %}
          <li>
            {% if author.lang == "en" %}
              <a href="{{ author.url }}" class="active {{ author.lang }}">English</a>
            {% else %}
               <a href="{{ author.url }}" class="active {{ author.lang }}">አማርኛ</a>
            {% endif %}
            <!-- a href="{{ author.url }}" class="{{ author.lang }}">{{ author.lang }}</a -->
          </li>
        {% endfor %}
</ul>
<!-- /div -->
