    <ul class="nav navbar-nav">
    <!--div class="navbar-nav" -->
      {% for menu in site.t[page.lang] %}

        {% assign pageUrlArr = page.url | split: '.' %}
        {% assign urlSize = pageUrlArr[0] | size %}
        {% if urlSize > 1 %}
          {% assign page_url1 = pageUrlArr[0] | append: '/' %}
          {% assign page_url = page_url1 | url_decode %}
        {% else %}
          {% assign page_url = pageUrlArr[0] %}
        {% endif %}
        {% if menu[1].url == page_url %}
          <li class="active">
            <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <!-- /div -->